<div class="container">
  <div class="row justify-content-center">
    <div class="col6">
      <span>
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </span>
    </div>
  </div>
  <h2>新着商品</h2>
  <div class="row justify-content-center">
    <% @items.each do |item| %>
      <div class="col-3">
        <div class="card mb-3">
          <%= link_to item_path(item), class: "card-link" do %>
            <%= image_tag item.get_image(300, 200), class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= item.name %></h5>
              <p class="card-text">￥<%= item.price %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-end">
    <%= link_to "全ての商品を見る>", items_path %>
  </div>
</div>