<div class="container">
  <h3><strong><%= @customer.full_name %>さんの会員詳細</strong></h3>
  <div class="row mt-3">
    <div class="col-10">
      <table class="table table-borderless">
        <tr>
          <td style="width: 20%"><strong>会員ID</strong></td>
          <td>
            <%= @customer.id %>
          </td>
        </tr>
        <tr>
          <td><strong>氏名</strong></td>
          <td>
            <%= @customer.last_name %> <%= @customer.first_name %>
          </td>
        </tr>
        <tr>
          <td><strong>カナ</strong></td>
          <td>
            <%= @customer.last_name_kana %> <%= @customer.first_name_kana %>
          </td>
        </tr>
        <tr>
          <td><strong>郵便番号</strong></td>
          <td>
            <%= @customer.postal_code %>
          </td>
        </tr>
        <tr>
          <td><strong>住所</strong></td>
          <td>
            <%= @customer.address %>
          </td>
        </tr>
        <tr>
          <td><strong>電話番号</strong></td>
          <td>
            <%= @customer.telephone_number %>
          </td>
        </tr>
        <tr>
          <td><strong>メールアドレス</strong></td>
          <td>
            <%= @customer.email %>
          </td>
        </tr>
        <tr>
          <td><strong>会員ステータス</strong></td>
          <td>
            <% if @customer.status == "有効" %>
              <span class="text-success"><strong><%= @customer.status %></strong></span>
            <% else %>
              <span class="text-black-50"><strong><%= @customer.status %></strong></span>
            <% end %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-success" %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>