<div class="container">
  <div class="row">
    <div class="col6">
      <p><strong>購入者</strong><%= @order.customer.name %></p>
      <p><strong>注文日</strong><%= @order.created_at %></p>
      <p><strong>配送先</strong><%= @order.address %></p>
      <p><strong>支払い方法</strong><%= @order.payment_method %></p>
      <p><strong>注文ステータス</strong>
      <%= form_with model: @order, url: admin_order_path, method: :patch, local: true do |f|  %>
        <%= f.select :status, options_from_collection_for_select(Order.status) %>
      <% end %></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-bordered table-inverse">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @order_items.each do |order_item| %>
          <tr>
            <td>
              <%= order_item.item.name %>
            </td>
            <td>
              <%= order_item.item.with_tax_price %>
            </td>
            <td>
              <%= order_item.amount %>
            </td>
            <td>
              <%= order_item.subtotal %>
            </td>
            <td>
              <%= form_with model: @order, url: admin_order_detail_path, method: :patch, local: true do |f|  %>
                <%= f.select :crafting_status, options_from_collection_for_select(OrderDetail.crafting_statuses, order_item.crafting_status) %>
                <%= f.submit "更新", class: "btn btn-success" %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
