<div class="container">
  <div class="row">
    <div class="col6">
      <%= form_with model: @address, url: addresses_path, local: true do |address| %>
        <div class="form-group">
          <label for="postal_code">郵便番号(ハイフンなし)</label>
          <input type="text" class="form-control" id="postal_code" name="address[postal_code]">
        </div>
        <div class="form-group">
          <label for="address">住所</label>
          <input type="text" class="form-control" id="address" name="address[address]">
        </div>
        <div class="form-group">
          <label for="name">宛名</label>
          <input type="text" class="form-control" id="name" name="address[name]">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">新規登録</button>
        </div>
      <% end %>

      <table class="table table-bordered table-inverse">
        <thead>
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @addresses.each do |address| %>
          <tr>
            <td>
              <%= address.postal_code %>
            </td>
            <td>
              <%= address.address %>
            </td>
            <td>
              <%= address.name %>
            </td>
            <td>
              <%= link_to '編集する', edit_address_path(address.id), class: "btn btn-success" %>
              <%= link_to '削除する', address_path(address.id), method: :delete, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>