<div class="container">
  <div class="row">
    <div class="col">
      <h2>注文履歴詳細</h2>
      <h6>注文情報</h6>
      <table class="table table-bordered table-inverse">
        <thead></thead>
        <tbody>
          <tr>
            <td>注文日</td>
            <td>
              <%= @order.created_at.strftime('%Y/%m/%d') %>
            </td>
          </tr>
          <tr>
            <td>配送先</td>
            <td>
              <%= @order.address %>
            </td>
          </tr>
          <tr>
            <td>支払方法</td>
            <td>
              <%= @order.payment_method_i18n %>
            </td>
          </tr>
          <tr>
            <td>ステータス</td>
            <td>
              <%= @order.status_i18n %>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-inverse">
        <thead></thead>
        <tbody>
          <tr>
            <td>商品合計</td>
            <td>
              <%= @order_details.sum { |order_detail| order_detail.price_including_tax * order_detail.quantity } %>
            </td>
          </tr>
          <tr>
            <td>配送料</td>
            <td>
              <%= @order.postage %>
            </td>
          </tr>
          <tr>
            <td>ご請求額</td>
            <td>
              <%= @order.billing_amount %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>