<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-7">
      <%= image_tag @item.get_image(600,400) %>
    </div>
    <div class="col-4">
      <table class="table table-borderless">
        <tr>
          <td><h3><strong><%= @item.name %></strong></h3></td>
        </tr>
        <tr>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <td><h4><strong>￥<%= @item.with_tax_price.to_s(:delimited) %>(税込)</strong></h4></td>
        </tr>
        <tr>
          <td class="d-flex align-items-end">
            <% if @item.is_active == true %>
              <%= form_with model: @cart_item, url: cart_items_path, method: :post, local: true do |f| %>
                <%= f.select :amount, options_for_select([["個数選択", ""]] + (1..10).map { |n| ["#{n} 個", n] }) %>
                <% if current_customer %>
                  <%= f.hidden_field :customer_id, value: current_customer.id %>
                <% end %>
                <%= f.hidden_field :item_id, value: @item.id %>
                <%= f.submit "カートに入れる", class: "btn btn-primary" %>
              <% end %>
            <% end %>
          </td>
          
        </tr>
    </div>
  </div>
</div>